*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}
body {
    background-color: gold;
}

/*
* GAMEPLAY SCREEN =======================================
*/
#canvasContainer{
    position: relative;
    margin: 0px;
    background: green;
    width: 100%;
    height: 90vh;
}
#contentContainer {
    position: relative;
    margin: 0px;
    background: lightgray;
    /*width: 100%;
    height: 80vh;*/
}
#console {
    position: fixed;
    padding: 0px;
    width: 100%;
    height: 30vh;
    background: white;
    z-index: 3;
}
.readout{
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 0px;
    width: 200px;
    height: 30vh;
    background: #00FFFF;

}
/*
* SCORE SCREEN =======================================
*/
#scoreContainer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: lightgray;
    width: 100%;
    height: 90vh;
    z-index: 5;
    visibility: hidden;
}

#scoreDetails{
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

#outcome{
    display: inline-block;
    margin: 50px;
    font-size: 72px;
}

#scoreDetailsField{
    font-size: 32px;
}

#replay{
    font-size: 24px;
    display: inline-block;
    padding: 12px;
    color: lightgray;
    background-color: #333333;
    cursor: pointer;
    margin: 50px;
}